<section class="mule-game" phx-window-keyup="game">
  <div>Joined as <%= @player_name %></div>
  <div class="mule-grid">
  <%= for y <- 0..(MuleWorld.Map.map_size - 1) do %>
  <div class="mule-grid-row">
    <%= for x <- 0..(MuleWorld.Map.map_size - 1) do %>
    <span class="mule-grid-cell <%= get_class(x, y, @obstacles, @heroes, @player_name)%>">
    </span>
    <% end %>
  </div>
  <% end %>
  </div>
</section>
